<div class="row">
    <!-- Start .row -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="carousel-tile carousel vertical slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="tile red">
                        <div class="tile-icon">
                            <i class="br-cart s64"></i>
                        </div>
                        <div class="tile-content">
                            <div class="number">107</div>
                            <h3>Offres d'emploi et de stage</h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tile orange">
                        <!-- tile start here -->
                        <div class="tile-icon">
                            <i class="ec-cog s64"></i>
                        </div>
                        <div class="tile-content">
                            <div class="number">5</div>
                            <h3>Villes</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="carousel-tile carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="tile brown">
                        <!-- tile start here -->
                        <div class="tile-icon">
                            <i class="ec-mail s64"></i>
                        </div>
                        <div class="tile-content">
                            <div class="number">17</div>
                            <h3>Métiers</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="carousel-tile carousel vertical slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="tile green">
                        <div class="tile-icon">
                            <i class="ec-users s64"></i>
                        </div>
                        <div class="tile-content">
                            <div class="number">325</div>
                            <h3>Clients</h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tile purple">
                        <!-- tile start here -->
                        <div class="tile-icon">
                            <i class="ec-search s64"></i>
                        </div>
                        <div class="tile-content">
                            <div class="number">2540</div>
                            <h3>Partenaires</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="carousel-tile carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="tile teal">
                        <!-- tile start here -->
                        <div class="tile-icon">
                            <i class="ec-images s64"></i>
                        </div>
                        <div class="tile-content">
                            <div class="number">45</div>
                            <h3>Galeries Images</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</div>
<!-- End .row -->