{% extends "::layout/base.html.twig" %}

{% block titre %} A propos de nous - {{ parent() }}{% endblock %}

{% block body %}

            <h3 class="title">A propos de nous</h3>
            <div class="row">

                <div class="col-md-3">
                    <img src="{{ asset('img/logoP.png') }}" alt="Présenation-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
                    <div class="row">
                        <ul class="thumbnails small">

                        </ul>
                    </div>
                </div>

                <div class="col-md-9">

                    <h3><span class="success">Présentation</span></h3>
                    <p class="leadPerso">
                        Fondé depuis Avril 2008 est aujourd’hui une entreprise incontournable sur le marché. Présente dans les domaines du Marketing et de la Finance, le groupe a connu une impulsion avec en se tournant vers des activités nouvelles telles que les télécommunications,
                        l’immobilier et les accessoires médicaux . <b>ATHEA GROUP</b> dispose d’un portefeuille d’une soixantaine de sociétés et d’une vingtaine de marques phares.
                        <br />Il s’organise autour de six pôles opérationnels :

                        <b><ul class="success-color">
                                <li>MARKETING & OBJETS PUBLICITAIRES
                                <li>INGENIERIE FINANCIERE</li>
                                <li>EMPLOI & ENTREPRENEURSHIP</li>
                                <li>FORMATION & MANAGEMENT</li>
                                <li>TECHNOLOGIES & TELECOMS</li>
                                <li>MATERIEL ET ACCESSOIRES MEDICAUX</li>
                            </ul>
                        </b>
                    </p>
                    <p class="leadPerso">

                        Nos solutions sont multiples et sont adaptées à la taille et la problématique de nos Clients : renforcement de capacités, organisation d’une équipe, formation, coaching, réalisation de sites internet, webmarketing... <b>ATHEA MEDICAL CARE</b> qui est partie intégrante
                        d'<b>ATHEA GROUP</b> s’occupe également de la fourniture de matériels et accessoires médicaux et de l’hygiène de santé des personnes dans leur domaine d’activité et encourage la protection de la santé des autres dans les établissements scolaires et universitaires
                        , et dans les bureaux.

                    </p>
                </div>
            </div>
            <hr/>
    <div class="row">

        <div class="col-md-3">
            <img src="{{ asset('img/societe.png') }}" alt="Mission-Athea Group" title="Athea Group" class="img pull-left" style="height:auto;width:150px;">
            <div class="row">
                <ul class="thumbnails small">

                </ul>
            </div>
        </div>

        <div class="col-md-9">

            <h3>Notre Mission</h3>
            <div class="span6">
            <p>
            <p class="leadPerso">
                Entreprise dédiée aux PME et aux collectivités locales, <b>ATHEA GROUP</b> relève pour vous et avec vous les défis de demain. Tout au long de notre évolution, nos clients ont toujours été au cœur de notre stratégie. En maintenant le cap sur la qualité, nous
                restons en mesure de fournir les serviceS de qualité que nos clients attendent.
            </p>
            <h4>Nos engagements quotidiens :</h4>
            <p class="leadPerso">
            <ul class="leadPerso">
                <li>la qualité de service</li>
                <li>la qualité de nos solutions sur mesure</li>
                <li>La qualité de service : un accompagnement réussi</li>
                <li>Excellence relationnelle</li>
            </ul>
            </p>
            <p class="leadPerso">
                Chez <b>ATHEA GROUP</b>, nous sommes toujours à l'écoute de nos clients. Vous bénéficiez d’un accompagnement dans la conception de votre solution, pendant son déploiement et tout au long de son utilisation. Un ingénieur commercial dédié et un service technique
                sont à votre écoute et répondent à vos besoins évolutifs. Face à l’évolution constante du marché et des attentes de nos clients, la réactivité de nos équipes contribue à votre satisfaction.
            </p>

            <h4>Excellence du service technique</h4>
            <p class="leadPerso">
                Nous mettons à votre disposition un support technique composé d'experts dans nos domaines d'activités précités. Nos années d’expérience et d’expertise vous permettent de vous reposer sur notre savoir-faire pour le déploiement de vos solutions A la hauteur
                de vos attentes, notre standart téléphonique est disponible et à votre écoute du Lundi au Samedi de 08 h 30 à 17 H 00. Nous répondons à chaque appel téléphonique ou vous rappelons dans les 24 heures Nous répondons à vos e-mails dans les 24 heures
                A chaque contact, un interlocuteur identifié prend en charge votre demande
            </p>
            <h4>Excellence du service financier</h4>
            <p class="leadPerso">
                Nous mettons à votre disposition un interlocuteur unique capable de vous aider à analyser votre facture Par ailleurs, nous nous engageons : A répondre à vos interrogations dans les 48 heures, A fournir le détail de chaque élément de facturation, A ne
                facturer que les services livrés, mis en services et exploitables La qualité de nos solutions « sur mesure » <b>ATHEA GROUP</b> propose une gamme complète de solutions . Parce que votre entreprise est unique, votre chef de projet dédié vous accompagne
                dans la découverte de nos offres et la conception de votre solution sur mesure.
            </p>
            </p>
        </div>
      </div>
    </div>




{% endblock %}