<!-- Start .page-header -->
<div class="col-lg-12 heading">
    <h1 class="page-header"> <a href="{{ path('adminArticles') }}"><i class="im-table2"></i>Liste des offres d'emploi et de stage</a></h1>
    <!-- Start .bredcrumb -->
    <ul id="crumb" class="breadcrumb">

    </ul>
    <!-- End .breadcrumb -->
    <!-- Start .option-buttons -->
    <div class="option-buttons">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a id="clear-localstorage" class="btn tip" title="Actualiser la page">
                    <i class="ec-refresh color-red s24"></i>
                </a>
            </div>

            <div class="btn-group dropdown">
                <a class="btn dropdown-toggle btn tip" id="clear-localstorage" title="Ajouter une offre"   data-toggle="" id="dropdownMenu2" href="{{ path('adminArticles_new') }}"><i class="ec-pencil s24"></i></a>
            </div>
        </div>
    </div>
    <!-- End .option-buttons -->
</div>
<!-- End .page-header -->